<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>id</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>id</string>
	<key>API_KEY</key>
	<string>key</string>
	<key>GCM_SENDER_ID</key>
	<string>707643517672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dashstrap.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-31b02</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-31b02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707643517672:ios:856f5a7f0ee8f36e32375d</string>
</dict>
</plist>
